html, 
body, 
/*#map {
  height: 100%;
  padding: 0;
  cursor: default;
}*/
.info {  
  position: absolute;
  /*bottom: 5px;
  left: 5px;
  z-index: 400;
  padding: 5px;*/
  width: 20%;
  /*font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 8pt;*/
   background-color: rgba(255, 255, 255, 0.5); 
  /* opacity: 0.5; */
  /* For IE8 and earlier */
  /* filter: alpha(opacity=50); */  
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
caption {
  background-color: #aeaeae;
}
thead{
  border: 1px solid #ff0000;
}
th{
  border: 1px solid #dddddd;
}
td{
  border: 1px solid #dddddd;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}